@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin typo_h1 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 38px;
  line-height: 1;
  letter-spacing: 1;
  font-weight: 300;
}

@mixin typo_h2 {
  font-size: 36px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@mixin typo_h3 {
  font-size: 24px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 1.5px;
}

@mixin typo_accent {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: 1px;
}

@mixin typo_text {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: 2px;
}
