@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.root {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0 20px;
  background-color: $color_dark_grey;

  @media screen and (min-width: $BP3_min) {
    width: 70%;
    padding: 0 40px;
  }
}
