@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.btn-slide {
  position: absolute;
  display: inline-block;
  width: 50%;
  height: 100%;
  cursor: pointer;
}

.chevron {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
}

.prev {
  top: 50%;
  left: 0;
  transform: translateY(-60%) rotate(-180deg);
}

.next {
  top: 50%;
  right: 0;
  transform: translateY(-60%);
}
