.cardboard {
  border-bottom: 2px solid #000;
}

.cardboardTitle {
  font-size: 36px;
  line-height: 1;
  font-weight: 900;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
}

@media (max-width: 767px) {
  .cardboardTitle {
    padding: 40px 20px;
  }
  .card {
    padding: 40px 20px;
  }
}

@media (max-width: 1439px) {
  .cardboardTitle {
    padding: 40px 30px;
  }

  .card {
    padding: 40px 30px;
  }
}

@media (max-width: 1919px) {
  .cardboardTitle {
    padding: 40px 40px;
  }

  .card {
    padding: 40px 40px;
  }
}
