@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.root {
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  @media (max-width: $BP2-max) {
    padding: 40px 20px;
  }

  @media (max-width: $BP3-max) {
    padding: 40px 30px;
  }

  @media screen and (min-width: $BP4_min) {
		padding: 60px 60px;
	}

  &:nth-child(2n) {
    .imageContainer {
      order: -1;
    }
	}

  &:not(:last-child) {
    border-bottom: $border_2;
	}

  &:hover {
		.image {
      opacity: 1;
      transition: opacity .4s ease-in;
    }
	}
}

.textContainer {
  @media (min-width: $BP4-min) {
    width: 45%;
  }
}

.tag {
  display: inline-block;
  width: 100%;
  color: $color_green;
  margin-bottom: 50px;

  &:nth-child(2n) {
    text-align: right;
	}
}

.title {
  @include typo_h3;
  margin-bottom: 30px;
}

.text {
  @include typo_text;
}

.imageContainer {
  position: relative;
  width: 40%;
  overflow: hidden;
  border-radius: 110px;
  background-image: url(../../../public/img/greenGrid.svg);
  box-shadow: inset 0 0 0 2px $color_black;

  @media (min-width: $BP2-min) {
    width: 60%;
  }

  @media (min-width: $BP3-min) {
    width: 90%;
  }

  @media (min-width: $BP4-min) {
    width: 40%;
  }
}

.image {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity .4s ease-out;
}
