@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.root {
  display: flex;
  height: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
  padding: 20px;
  width: 70%;
}

.right {
  box-shadow: 16px 0px 12px -16px rgba(118, 123, 128, 0.39) inset;
  background-color: $color_dark_grey;
  width: 30%;
  padding: 40px;
}

.text {
  @include typo_textM;
  flex-grow: 1;
}

.title {
  @include typo_h2;
  margin-bottom: 30px;
}

.subTitle {
  @include typo_textS;
}

.imageBoard {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 55%;

  @media screen and (min-width: $BP4_min) {
    margin-bottom: 30px;
	}
}

.image {
  position: absolute;
  object-fit: contain;
  bottom: 0;
  left: 0;
  height: 100%;
}

.link {
  @include typo_link;
  position: relative;
  padding: 20px 35px 0 0;

  &:hover {
    .arrow {
      right: -5px;
      transition: right .3s ease;
    }
  }
}

.arrow {
  position: absolute;
  top: 13px;
  right: 0;
  width: 14px;
  height: 40px;
  transform: rotate(-90deg);
  transition: right .3s ease;
}
