@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $color_dark_grey;

  width: 100%;
  order: -1;

  @media screen and (max-width: $BP2_max) {
    padding: 20px;
	}

  @media screen and (min-width: $BP3_min) {
    width: 30%;
    padding: 40px 20px 20px 40px;
    order: 1;
    box-shadow: 16px 0px 12px -16px rgba(118, 123, 128, 0.39) inset;
	}

  @media screen and (min-width: $BP4_min) {
    padding: 40px 20px 20px 40px;
	}

  @media screen and (min-width: $BP5_min) {
    width: 35%;
	}
}

.image {
  display: block;
  margin-bottom: 20px;
  border-radius: 150px;

  @media screen and (max-width: $BP1_max) {
    width: 50%;
	}

  @media screen and (min-width: $BP2_min) {
    width: 30%;
	}

  @media screen and (min-width: $BP3_min) {
    width: 70%;
  }

  @media screen and (min-width: $BP5_min) {
    width: 50%;
	}
}

.title {
  position: relative;
  display: flex;
  flex-direction: column;
}

.titleName {
  @include typo_h1;
  display: inline-block;
  margin-bottom: 10px;
}

.titlePosition {
  @include typo_textS;
  display: inline-block;
  padding-bottom: 10px;
}

.tip {
  display: none;

  @media screen and (min-width: $BP3_min) {
    display: block;
    position: absolute;
    bottom: 30px;
    left: 40px;
    display: flex;
    align-items: center;
	}
}

.arrow {
  width: 14px;
  height: 40px;
  margin-right: 20px;
}
