@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.root {
  display: flex;
  flex-direction: column;
  width: 35%;
  background-color: $color_dark_grey;
  box-shadow: 16px 0px 12px -16px rgba(118, 123, 128, 0.39) inset;

  @media screen and (max-width: $BP2_max) {
    padding: 40px 20px 20px 40px;
	}

  @media screen and (max-width: $BP3_max) {
    padding: 40px 20px 20px 40px;
	}

  @media screen and (min-width: $BP4_min) {
    padding: 40px 20px 20px 40px;
	}
}

.imageContainer {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 270px;
}

.image {
  position: absolute;
  object-fit: fill;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 150px;
}

.title {
  position: relative;
  display: flex;
  flex-direction: column;
}

.titleName {
  @include typo_h1;
  display: inline-block;
  margin-bottom: 5px;
}

.titlePosition {
  @include typo_textS;
  display: inline-block;
  padding-bottom: 10px;
}
