.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #000;
}

.logo {
  font-size: 20px;
  line-height: 1;
  font-weight: 900;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.telegram {

}

@media (max-width: 767px) {
  .header {
    padding: 40px 20px;
  }
}

@media (max-width: 1439px) {
  .header {
    padding: 40px 30px;
  }
}

@media (max-width: 1919px) {
  .header {
    padding: 40px 40px;
  }
}
