.intro {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 2px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  border-bottom: 2px solid #000;
}

.photoContainer {
  position: relative;
  width: 40%;
  overflow: hidden;
}

.photo {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.textContainer {
  padding: 40px 60px;
  border-left: 2px solid #000;
}

.text {
  list-style: none;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .intro {
    padding: 40px 0;
    flex-direction: column;
  }
}

@media (max-width: 1439px) {

}

@media (max-width: 1919px) {

}
