@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.root {
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 70%;

  @media screen and (max-width: $BP2_max) {
    padding: 20px;
	}

  @media screen and (max-width: $BP3_max) {
    padding: 20px;
	}

  @media screen and (min-width: $BP4_min) {
    padding: 20px;
	}
}

.text {
  @include typo_accent;
  width: 80%;
  margin-bottom: 40px;
}

.textContact {
  @include typo_textS;
}

.link {
  text-decoration: underline;
}
