@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.root {
  @include typo_text;
  display: flex;

  @media (max-width: $BP1_max) {
    padding: 40px 0;
    flex-direction: column;
  }
}

.imageContainer {
  position: relative;
  overflow: hidden;

  @media (max-width: $BP3_max) {
    width: 60%;
  }

  @media (min-width: $BP3_min) {
    width: 45%;
  }

  @media (min-width: $BP4_min) {
    width: 35%;
  }

  @media (min-width: $BP5_min) {
    width: 22%;
  }
}

.image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.textContainer {
  padding: 20px 40px;

  @media (min-width: $BP2_min) {
    border-left: $border_2;
    padding: 40px 60px;
  }
}

.text {
  @include reset-list;

  &:not(:last-child) {
    margin-bottom: 30px;
	}
}
