@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.root {
  @include typo_h2;
  border-top: $border_2;
  border-bottom: $border_2;

  @media (max-width: $BP2-max) {
    padding: 40px 20px;
  }

  @media (max-width: $BP3-max) {
    padding: 40px 30px;
  }

  @media screen and (min-width: $BP4_min) {
		padding: 40px 60px;
	}
}
