@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.root {
  position: relative;
  overflow: hidden;
  width: 30%;
  padding: 0 40px;

  -webkit-box-shadow: -16px 0px 12px -16px rgba(118, 123, 128, 0.39) inset;
  -moz-box-shadow: -16px 0px 12px -16px rgba(118, 123, 128, 0.39) inset;
  box-shadow: -16px 0px 12px -16px rgba(118, 123, 128, 0.39) inset;
}
